body {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;

}

.border {
  flex-grow: 1;
  background-color: rgb(11, 11, 94);
  height: 1038px; 
  width: 40%;

}

.image {
  flex-grow: 3;
}

.logo {
  margin: 0px auto;
}

.form-input {
  display: flex;
  border: 0.3px solid #4671C6A6;
  background: #0F2D6B;
  height: fit-content;


}

.form-input input {
  padding: 0px;
  background-color: transparent;
  margin: 0px;
  outline: none;


}

.logo img {
  width: 419px;
  height: 114px;
  top: 88px;
  left: 89px;
  gap: 0px;
  opacity: 0px;

}

.logo {
  color: aliceblue;
  width: fit-content;
  height: 800px;

}

input {
  background: #0F2D6B;
  border: 0.3px solid transparent;
  width: 300px;
  height: 45px;

}

.icon {
  background: #0F2D6B;
  border: 0.3px solid #4671C6A6;
  align-items: center;
  width: 350px;
  height: 48.84px;
  top: 330px;
  left: 115px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  border: 0.3px 0px 0px 0px;
  opacity: 0px;

}

.gmail {
  margin-top: 9px;
  margin-left: 10px;
}

.login {
  text-align: center;
}

.form-password {
  display: flex;
  border: 0.3px solid #4671C6A6;
  background: #0F2D6B;
  height: fit-content;
}

.form-password input {
  padding: 0px;
  background-color: transparent;
  margin: 0px;
  outline: none;


}

.password {

  margin-top: 9px;
  margin-left: 8px;
  gap: 10px;
  margin-right: 9px;
}

.atag a {
  display: flex;
  justify-content: flex-end;
  color: azure;

}
.atag a :hover{
  color:red;
}

.button button {
  color: white;
  background-color: rgb(47, 47, 234);
  border-radius: 10px;
  width: 75%;
  height: 50px;
  position: relative;
  left: 50px;
  top: 25px;

}

h1 {
  text-align: center;
  position: relative;
  bottom: 10px;
}
.p{
position: relative;
left:40px; 
color: rgb(152, 147, 140);
}
.google{
   margin-left:120px ;
  margin-right: 10px; ;
}
.facebook {
  margin-left:120px ;
 margin-right: 10px; ;
}
.apple {
  margin-left:120px ;
 margin-right: 10px; 
}
.image img{
  background-size: cover;
  width: 1150px;
height:1038px;
left: 581px;
gap: 0px;
opacity: 0px;




}
.text{
  display: flex;
  justify-content: center;
  margin-bottom :100px; 
}
.one{
  color: aliceblue;
  

}
.two{
  color: #4671C6;
margin-left:5px ;

}

